*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}


.boxed-80{
  width: 80%;
  margin: auto;
  padding-top: 100px;
}

.boxed-90{
  width: 90%;
  margin: auto;
}

.clearfix:after{
  content: '';
  display: table;
  clear: both;
}

ol{
  list-style: none;
}

.bottoneblu {
  color: white;
  background-color: #0061FE;
  padding: 10px 24px;
  text-decoration: none;
}

.bottoneblu:hover{
  background-color: #67a1ff;
  border: 0;
}

/* HEADER */

header{
  line-height: 26px;
  padding: 30px 10px;
  background-color: white;
  width: 100%;
  position: fixed;
  z-index: 999;
}

header .sx{
  float: left;
  text-align: left;
}

.logo{
  width: 10%;
  text-align: left;
}

.sx .menu-1{
  width: 20%;
  text-align: left;
}

header .dx{
  float: right;
  width: 50%;
  text-align: right;
}

header li{
  padding: 0px 15px;
}

header li{
  list-style: none;
  display: inline-block;
}

header li a{
  color: rgb(0, 0, 0);
  font-size: 15px;
  text-decoration: none;
}

header li a:hover{
  padding-bottom: 38px;;
  border-bottom: 3px solid #0061FE;
}

header .bottoneblu:hover{
  padding: 10px 24px;
  text-decoration: none;
}

/* JUMBOTRON */

.jumbotron{
  background-color: #B4D0E7;
  height: 700px;
}

.jumbotron h1{
  font-size: 70px;
  text-align: left;
  margin-top: 50px;
  margin-bottom: 30px;
  font-weight: 600;
}

.titolojumbo{
  padding-top: 90px;
}

.immjumbo {
  float: left;
  width: 60%;
  margin: 0px auto -80px auto;
  padding-left: 20px;
  
}

.testojumbo{
  float: left;
  width: 30%;
  
}

.immjumbo img{
  width: 100%;
}

.testojumbo{
  font-size: 18px;
}

/* TROVA IL PIANO */

.trovapiano{
  margin-top: 200px;
}

.input{
  display: inline-block;
}

.fa-arrow-down:before {
  font-size: 40px;
}

/* TROVA IL PIANO TABELLE*/

#titolo{
  padding-bottom: 40px;
}

.trovapiano .input{
  padding-bottom: 40px;
}

.colonna{
  float: left;
  width: calc(90% / 3);
  border: 1px solid #D5D5D7;
  padding: 20px;
  margin-bottom: 0px;
}


.titolo, .nuovotitolo{
  text-align: center;
  padding: 10px;
}


.colonna.due, .colonna.top-2{
  margin: 0px 50px auto;
  margin-bottom: 0;
}

.colonna p{
  margin-top: 5px;
  font-size: 20px;
}

.trovapiano{
  font-size: 18px;
}

.colonna h1, .colonna h2{
  font-size: 25px;
  font-weight: 700;
}

.colonna .prezzo{
  font-size: 18px;
  font-weight: 400;
}

.colonna ol i{
  color: #0061FE;
}

.acquista{
  color: #0061FE;
  text-decoration: underline;
}

.prezzo{
  font-size: 18px;
}

.mese{
  color: #808D98;
  font-size: 18px;
}

hr{
  width: 20%;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #808D98;
}

/* SEZIONE SOTTO AL LISTINO */


.nuovasez, .nuovotitolo{
  border: 1px solid black;
}

.nuovasez{
  padding: 20px;
}

#enterprise{
  float: left;
}

#enterbutton{
  float: right;
}
/* ENTRA IN CONTATTO CON UN PARTNER */

#contattoimm{
  float: left;
  width: 60%;
  height: 500px;
  background-image: url(img/partner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#contattotext{
  padding: 30px;
  float: left;
  width: 40%;
}

#trovabutton{
  background-color: white;
  border: 2px solid black;
  font-size: 16px;
  padding: 10px 20px;
}

#trovabutton:hover{
  background-color: #e9e9e9;
}


/* ESEGUI PIù OPERAZIONI */

#h1-operazioni{
  margin-top: 50px;
  margin-bottom: 50px;
}

.box{
  float: left;
  width: calc(100% / 3);
  padding: 50px;
}

.operazioni img{
  width: 100%;
}

.operazioni h4{
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 700;
}

/*TITOLO 500 TEAM */

#h1-500{
  margin-top: 50px;
  margin-bottom: 50px;
}

/* BOX TEAM */

.team{
  margin-top: 85px;
}

.brand{
  float: left;
  width: 15vw;
  height: 15vw;
  text-align: center;
  vertical-align: middle;
  line-height: 10px;
}

.brand img{
  width: 70%;
  filter: invert();
}

#sinistra, #destra{
  float: left;
  width: 30vw;
  height: 30vw;
  vertical-align: middle;
  background-color: #0061FE;
}

#centrale{
  float: left;
  width: 38vw;
  height: 30vw;
  background-color: #F5F5F5;
  padding: 30px;
  line-height: 26px;
}

#centrale img{
  width: 40%;
}

#centrale hr{
width: 5%;
margin-top: 20px;
margin-bottom: 20px;
border: 1px solid black;
}

#design{
  background-color: #A2D39B;
  line-height: 269px;
}

#arizona{
  background-color: #61082B;
  line-height: 334px;
}

#florida{
  background-color: #0093CE;
  line-height: 269px;
}

#topps{
  background-color: #FF1C1C;
  line-height: 286px;
}

#bici{
  background-color: #D5001F;
  line-height: 269px;
}

#hearts{
  background-color: #B4D0E7;
  line-height: 269px;
}

#lonely{
  background-color: #0D2481;
  line-height: 307px;
}

#clear{
  background-color: #FFD830;
  line-height: 311px;
}

/* SEZIONE AZZURRA */

#titolorosso h1{
  color: #61082B;
  font-size: 40px;
}

#azzurro{
  background-color: #B4D0E7;
  width: 100%;
}

#grigio, #titolorosso{
  width: 50%;
  height: 200px;
}

#titolorosso{
  float: left;
}

#grigio{
  float: left;
  text-align: right;
}

#grigio .bottoneblu{
  color: black;
  background-color: #F5F5F5;
}

#grigio .bottoneblu:hover{
  background-color: #e9e9e9;
}

/* FAQ */

#h1-300{
  margin-top: 20px;
}

.question{
  border-top: 1px solid black;
  padding: 20px 10px 36px 10px;
}

.question h3{
  float: left;
}

.question p{
  float: right;
}

.compare{
  display: none;
}

.fup{
  display: none;
}

.question:hover .compare{
  padding: 10px 20px;
  display: block;
}

.question:hover .fdown{
  display: none;
}

.question:hover .fup{
  display: block;
}

/* FOOTER */

footer{
  background-color: black;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 30px;
  margin-top: 40px;
}
footer h3{
  margin-bottom: 15px;
}

.footy{
  float: left;
  width: calc(100% / 5);
  text-align: left;
  color: white;
  min-height: 100px;
  margin-bottom: 60px;
}

.footy a{
  text-decoration: none;
  color: white;
}

footer hr{
  width: 5%;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid white;
}

footer p{
  color: #999999
}