*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}


.boxed-80{
  width: 80%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
}

.boxed-90{
  width: 90%;
  margin: auto;
}

header, .jumbotron, .trovapiano, .operazioni, .team{
  content: '';
  display: table;
  clear: both;
}

ol{
    list-style: none;
}

.bottoneblu {
  color: white;
  background-color: #0061FE;
  padding: 10px 40px;
  text-decoration: none;
}

/* HEADER */

header{
  line-height: 26px;
  padding: 30px 10px;
  background-color: white;
  width: 100%;
  position: fixed;
}

header .sx{
  float: left;
  text-align: left;
}

.logo{
  width: 10%;
  text-align: left;
}

.sx .menu-1{
  width: 20%;
  text-align: left;
}

header .dx{
  float: right;
  width: 50%;
  text-align: right;
}

header li{
  padding: 0px 15px;
}

header li{
  list-style: none;
  display: inline-block;
}

header li a{
  color: rgb(0, 0, 0);
  font-size: 15px;
  text-decoration: none;
}

header .bottoneblu{
  padding: 10px 20px;
}

/* JUMBOTRON */

.jumbotron{
  background-color: #B4D0E7;
}

.jumbotron h1{
  font-size: 70px;
  text-align: left;
  margin-top: 50px;
  margin-bottom: 30px;
  font-weight: 600;
}

.boxed-90{
  padding-top: 60px;
  margin-top: 30px;
}

.immjumbo {
  float: left;
  width: 60%;
  margin: 0px auto -80px auto;
  padding-left: 20px;
  
}

.testojumbo{
  float: left;
  width: 30%;
  
}

.immjumbo img{
  width: 100%;
}

.testojumbo{
  font-size: 18px;
}

/* TROVA IL PIANO */

.trovapiano{
  margin-top: 200px;
}

.input{
  display: inline-block;
}

.fa-arrow-down:before {
  font-size: 40px;
}


/* TROVA IL PIANO TABELLE*/

#titolo{
  padding-bottom: 40px;
}

.trovapiano .input{
  padding-bottom: 40px;
}

.colonna{
  float: left;
  width: calc(90% / 3);
  border: 1px solid black;
  padding: 20px;
  margin-bottom: 10px;
}

.colonna.due{
  margin: 0px 20px auto;
}

.colonna p{
  margin-top: 5px;
  font-size: 20px;
}

.trovapiano{
  font-size: 22px;
}

.colonna h1, .colonna h2{
  font-size: 25px;
  font-weight: 700;
}

.colonna .prezzo{
  font-size: 18px;
  font-weight: 400;
}

.colonna ol i{
  color: #0061FE;
}

/* ENTRA IN CONTATTO CON UN PARTNER */


#contattoimm{
  float: left;
  width: 60%;
  height: 500px;
  background-image: url(img/partner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#contattotext{
  padding: 30px;
  float: left;
  width: 40%;
}

/* ESEGUI PIù OPERAZIONI */
.box{
  float: left;
  width: calc(100% / 3);
  padding: 10px;
}

.operazioni img{
  width: 100%;
}

/* BOX TEAM */

.brand img{
  width: 100%;
}

#sinistra, #centrale, #destra{
  float: left;
  width: calc(100%/3);
  height: 500px;
}

#centrale{
  background-color: grey;
}

.brand{
  float: left;
  width: calc(100%/2);
}
